@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
  font-style: normal;
}

:root {
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --light-accet: #bcdfd1;
  --hover-green: #009156;
  --error: #e74a3b;
  --hover-grey: #bbbbbb;
  --faq-footer-line: #e4e5e6;
  --pop-up-message: #f0f0f0;
}

.dark {
  --black: #f0f0f0;
  --accet-green: #14c57c;
  --white: #1e2023;
  --light-grey: #2a2d32;
  --light-accet: #204136;
  --hover-green: #009156;
  --error: #e74a3b;
  --hover-grey: #3b3f45;
  --faq-footer-line: #f0f0f0;
  --pop-up-message: #2a2d32;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/*------ common ----*/

.wrapper {
  max-width: 360px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: 320px;
  min-width: 280px;
  margin: 0 auto;
}

.hiden-css {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 32px;
  }
  .container {
    max-width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    padding: 0 32px;
  }
  .container {
    max-width: 1216px;
  }
}
