<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="hero-title-list-container">
        <h1 class="hero-title">
          Hello, I am
          <span class="text-green">Fullstack developer</span>
        </h1>
        <ul class="social-list">
          <li class="social-item">
            <a class="social-link" href="https://www.instagram.com/goitclub/"
              >Insragram</a
            >
          </li>
          <li class="social-item">
            <a class="social-link" href="https://t.me/junior_developer_ua"
              >Telegram</a
            >
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              >Linkedin</a
            >
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://github.com/artem-ilchuk/Team-project-Porfolio"
              >GitHub</a
            >
          </li>
        </ul>
      </div>
      <div class="hero-images">
        <img
          srcset="./img/hero/imgdesk.png"
          src="./img/hero/imgdesk2x.png"
          alt="Fullstack Developer"
        />
      </div>
      <div class="hero-bg">
        <!-- <img src="./img/hero/bg-mob.png" alt="Background Image" /> -->
      </div>
    </div>
  </div>
  <div class="hero-tx-con">
    <p class="hero-text">
      I work with people all over the world to create
      <span class="text-green">impressive</span> and
      <span class="text-green">functional</span> websites that reflect each
      client’s unique personality.
    </p>
  </div>
</section>
