  <div class="mobile-menu js-menu-container">
        <div class="container mobile-menu-container" >

           <div class="header-mob">
             <a class=" mob-hat-logo" href="./index.html">Lloyd<span class="logo-span-heder">Jefferson.</span></a>
             <button type="button" class="menu-close js-close-menu">
               <svg class="mob-icon icon-toggle-color" width="32px" height="32px">
                 <use href="/img/sprite.svg#icon-x">
                 </use>
               </svg>
             </button>
           </div>

           
           <div class="switcher-mob">
            <div class="switcher__content">
             <input type="checkbox" id="switch" />
             <label for="switch">Toggle</label>
            </div>
           </div>


          <ul class="navigation-mob-list">
            <li class="mob-list-item">
              <a href="#anchor1" class="navigation-mob-link js-mob-link">About me</a>
            </li>
            <li class="mob-list-item">
              <a href="#anchor2" class="navigation-mob-link js-mob-link">Projects</a>
            </li>
            <li class="mob-list-item">
              <a href="#anchor3" class="navigation-mob-link js-mob-link">Contacts</a>
            </li>
          </ul>

          <div class="mob-btn-order-sec">
            <a class="mob-order-project-btn js-mob-link" href="#anchor4">ORDER THE PROJECT</a>
          </div>
 
      </div>
  </div>
