<section class="wrapper js-load-reviews">
  <div class="container">
    <h2 class="review-title">REVIEWS</h2>
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
    </div>
    <div class="btn-thumb">
        <svg class="btn-arrow swiper-button-prev">
          <use class="btn-arrow-color" href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
        <svg class="btn-arrow swiper-button-next">
          <use class="btn-arrow-color" href="./img/sprite.svg#icon-arrow-rigth"></use>
        </svg>     
    </div>
  </div>
</section>
