
<div class="container">
  <h2 class="review-title">REVIEWS</h2>
  <div class="swiper">
    <ul class="swiper-wrapper">
      
    </ul>    
  </div>  
  <div class="btn-thumb"> 
    <svg class="swiper-button-prev">
        <use href="./img/sprite.svg#icon-arrow-left"></use>
    </svg>
    <svg class="swiper-button-next">
        <use href="./img/sprite.svg#icon-arrow-rigth"></use>
    </svg>
    <!-- <img class="swiper-button-prev" src="./img/reviews/arrow-left.png" alt="Arrow left">   
    <img class="swiper-button-next" src="./img/reviews/arrow-right.png" alt="Arrow right">               -->
  </div>
</div>
