<section class="tech-skils">
    <div class="tech-skils-container">
        <div class="skills-animation">
            <h2 class="tech-skills-hidden hiden-css">Technical skills</h2>
            <div class="marquee-1">
                <div class="marquee__inner-1">
                    <div class="marquee__line-1">
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">HTML/CSS</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">JavaScript</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">React</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">Node. js</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">React Native</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">Typescript</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">HTML/CSS</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">JavaScript</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">React</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">Node. js</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">React Native</p>
                        <div class="dot-animation-1"></div>
                        <p class="text-animation-1">Typescript</p>
                        <div class="dot-animation-1"></div>
                    </div>
                </div>
            </div>

            <div class="marquee-2">
                <div class="marquee__inner-2">
                    <div class="marquee__line-2">
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">HTML/CSS</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">JavaScript</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">React</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">Node. js</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">React Native</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">Typescript</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">HTML/CSS</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">JavaScript</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">React</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">Node. js</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">React Native</p>
                        <div class="dot-animation-2"></div>
                        <p class="text-animation-2">Typescript</p>
                        <div class="dot-animation-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>